@model seoWebApplication.Data.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.webstore_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.webstore_id)
                @Html.ValidationMessageFor(model => model.webstore_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateShipped, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateShipped)
                @Html.ValidationMessageFor(model => model.DateShipped)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Verified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Verified)
                @Html.ValidationMessageFor(model => model.Verified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Completed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Completed)
                @Html.ValidationMessageFor(model => model.Completed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Canceled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Canceled)
                @Html.ValidationMessageFor(model => model.Canceled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName)
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerEmail)
                @Html.ValidationMessageFor(model => model.CustomerEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingAddress)
                @Html.ValidationMessageFor(model => model.ShippingAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerID)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthCode)
                @Html.ValidationMessageFor(model => model.AuthCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reference)
                @Html.ValidationMessageFor(model => model.Reference)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxID, "TaxID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TaxID", String.Empty)
                @Html.ValidationMessageFor(model => model.TaxID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingID, "ShippingID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShippingID", String.Empty)
                @Html.ValidationMessageFor(model => model.ShippingID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total)
                @Html.ValidationMessageFor(model => model.total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cart_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cart_id)
                @Html.ValidationMessageFor(model => model.cart_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.points, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.points)
                @Html.ValidationMessageFor(model => model.points)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
