@model seoWebApplication.Data.WebstoreCuisine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BaseAdminSingle.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebstoreCuisine</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.webstore_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.webstore_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuisine_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuisine_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
