@model IEnumerable<seoWebApplication.Data.webstore>

@{
    ViewBag.Title = "Webstores";
    Layout = "~/Views/Shared/_BaseAdminSingle.cshtml";
}

<h2>Webstores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.webstoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.webstoreUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.webstoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.webstoreUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "CategoryWebstore", new { id = item.webstore_id })
            </td>
        </tr>
    }

</table>
